<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Secure Auth</h1>
        <p class="lead">Create an a account and login to our secure app.</p>
        <hr class="my-4">
        <p>Use navigation to move around.</p>
        <a class="btn btn-primary btn-lg me-1" href="/login" role="button">Login</a>
        <a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a>
    </div>
</div>
</body>
</html>
